* {
    padding: 0;
    margin: 0;
}

body {
    padding: 80px 200px;
}

img {
    height: 200px;
    object-fit: contain;
    background-color: black;
    border-radius:10px;
}
 .carroussel_3d{
     --deg: 60deg;
    --width: 1000px;
    --translate: calc(var(--width)/4);
    width: var(--width);
    height: 200px;
    position: relative;
 }
.carroussel_3d .carroussel_3d_pack{
    background-color: rgba(0, 128, 0, 0);
    position: relative;
    width: var(--width);
    height: 200px;
    transform: translateX(calc(var(--width)/3));
    perspective: 10000px;
}

.carroussel_3d .card_3d {
    transition:1.3s;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center calc(-0.43301270189*var(--width));
}
.carroussel_3d .card_3d.left{
    transform: rotateY(-170deg) rotateZ(490deg);
    background-color: rgb(158, 104, 11);
}
.carroussel_3d .card_3d.first {
    transform: rotateY(calc(-1*var(--deg)));
     width: calc(var(--width)/3);
     z-index:2;
}

.carroussel_3d .card_3d.second {
    width: calc(var(--width)/3);
    transform: scale(1.5);
    z-index:3;
}
.carroussel_3d .card_3d.third {
    width: calc(var(--width)/3);
    transform: rotateY(var(--deg));
    z-index:2;
}

.carroussel_3d .card_3d.left,
.carroussel_3d .card_3d.right {
    width: calc(var(--width)/3);
    z-index: 1;
    opacity:1;
}
 .carroussel_3d .card_3d.right{
    transform: rotateY(170deg) rotateZ(490deg);
    background-color: red;
}
.carroussel_3d_next,.carroussel_3d_previous{
    display: inline-block;
    border:none;
    padding:10px 20px;
    background-color:rgb(0, 170, 255);
    color:white;
    font-weight:700;
    border-radius: 5px;
}